version: '3.8'

services:
  mailpit:
    image: axllent/mailpit
    container_name: mailpit
    restart: unless-stopped
    ports:
      - "127.0.0.1:8025:8025"   # Web UI
      - "127.0.0.1:1025:1025"   # SMTP
    volumes:
      - ./data:/data  # Persistent storage for messages and DB
    environment:
      MP_MAX_MESSAGES: 5000
      MP_DATABASE: /data/mailpit.db
      MP_SMTP_AUTH_ACCEPT_ANY: 1
      MP_SMTP_AUTH_ALLOW_INSECURE: 1
    networks:
      - shared-network

networks:
  shared-network:
    external: true